<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150039612230-v7q16flh948ueb4ndnqmq0vmg0k8v1o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150039612230-v7q16flh948ueb4ndnqmq0vmg0k8v1o7</string>
	<key>API_KEY</key>
	<string>AIzaSyBir95NGDncvyF4wDJY00YhTTjV1phRHFk</string>
	<key>GCM_SENDER_ID</key>
	<string>150039612230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoServerless</string>
	<key>PROJECT_ID</key>
	<string>to-do-serverless-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-serverless-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150039612230:ios:8f93f9fcd60d959ef57347</string>
</dict>
</plist>